name: automated-release
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  semantic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install
        run: |
          npm ci
      - name: Release new version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx -p semantic-release@19 -p @semantic-release/changelog@6 -p @semantic-release/git@10 -c semantic-release
