name: Lint
on:
  push:
    branches-ignore:
      - master # Done in prepublishOnly script
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install
      run: |
        npm ci
    - name: Lint
      run: |
        npm run lint
      env:
        CI: true
